@charset "utf-8";
*{
	padding: 0px;
	margin: 0px;
}
.clear{clear: both;}
body{
	background-color: #F1F1F1;
	font-size: 12px;
	font-family: 微软雅黑,Arial,sans-serif;
	color: #272727;
}
.content{
    margin:0px auto;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
}
/*头部*/

/*内容*/
.wz{
	margin-bottom: 30px;
}
.wz a{
	text-decoration: none;
	color: #272727;
	padding-left: 10px;
	padding-right: 10px;
}
.wz span{
	padding-right: 5px;}
.wz a:hover{
	color: red;
}
.cx{
	margin-bottom: 30px;
}
.cx span{
	font-size: 28px;
	font-weight: bold;
}
.cx a{
	display: inline-block;
	text-decoration: none;
	color:#7B7B7B;
	background-image: url(../images/ico.png);
	background-repeat: no-repeat; 
	background-position: 0px -1px;
	text-indent: 5px;
	padding-left: 20px;
	padding-right: 50px;
	margin-left: 10px;
}
.cx .i1,.i2,.i3{
    outline: none;
    width: 263px;
    height:32px;
    border: 1px solid #ABADB3; 
    text-indent: 5px;
    margin-right: 5px;
}
.cx .i4{
	width: 80px;
	height: 34px;
	background-color: #E70014;
	color: white;
	font-size: 14px;
	border: none;
	cursor: pointer;
	outline: none;
}
/*.tj{
	margin-bottom: 30px;
}*/

.tj li{
   list-style: none;
   background-color: white;
   width: 290px;
   text-align: center;
   padding-bottom: 5px;
   float: left;
   margin-right: 13px;
   }
   .tj ul{
   	margin-right: -15px;
   }
.tj img{
	width: 290px;
	height: 218px;
}
.a1{
	color: black;
	font-size: 16px;
	text-decoration: none;
}
.a1:hover{
	color: #E70014;
}
.f2{
	font-size: 12px;
	color: #858585;
	margin-top: 5px;
}
.a2{
	width:80px;
	height:25px ;
	text-decoration: none;
	color: #ABADB3;
	display: block;
	border: 1px solid #ABADB3;
	line-height: 25px;
	text-align: center;
	margin:5px auto;
}
.tj .a2:hover{
	color: #E70014;
	border: 1px solid #E70014;
}
.f4{
    color: #E70014;
    font-size: 20px;
    margin-top: 10px;
}
/*保养品*/
.byp{
	margin-bottom: 30px;
	margin-top: 30px;

}
.byp li{
	list-style: none;
}
.byp .title1{
	width: 220px;
	height: 315px;
	background-image: url(../images/20151217162151_675.jpg);
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.a3{
	font-size: 30px;
	font-weight: bolder;
	text-decoration: none;
	}

.byp .title1 .a3{
color: #3E2100;
}
.byp .title1 .a1{
	text-decoration: none;
	font-size: 14px;
	color: #3E2100;
	}
.byp .title1 .a2{
	text-decoration: none;
	font-size: 14px;
	color:#636363; 
	border: none;
	margin-left: -20px;
}
.title1 .a2:hover{
	color: red;
}
.title1 .a1:hover{
	color: red;
}
img{
	width: 240px;
	height: 180px;
}
.ff{
	width: 240px;
	height:315px;
	background-color: white;
}
.title1{
	float: left;
}
li{
	float: right;
}
.jj li{
   list-style: none;
   background-color: white;
   text-align: center;
   padding-bottom: 5px;
   margin-right: 1px;  
}
.jj li:hover{
	border: 1px solid #E70014;
}
.jj li:hover .a2{
    color: #E70014;
    border: 1px solid #E70014;
}
/*驾驶室*/
.jss .title1 {
	background-image: url(../images/20151217162544_181.jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.jss .title1 .a3{
	color: #006092;
}
.jss .title1 .a1{
	color: #006092;
	font-size: 14px;
}
.jss .title1 .a1:hover{
    color: #E70014;
}
/*发动机*/
.fdj .title1{
	background-image: url(../images/20151217163340_982.jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.fdj .title1 .a3{
	color: #674941;
}
.fdj .title1 .a1{
	color: #674941;
	font-size: 14px;
}
.fdj .title1 .a1:hover{
	color:#E70014；
}
/*桥箱类*/
.qx .title1{
	background-image:url(../images/20151217163511_168 (1).jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.qx .title1 .a3{
	color: #B4353A;
}
.qx .title1 .a1{
	color: #B4353A;
	font-size: 14px;
}
.qx .title1 .a1:hover{
	color:#E70014；
}




.qzzx .title1{
	background-image:url(../images/20151217163511_168 (1).jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.qzzx .title1 .a3{
	color: #B4353A;
}
.qzzx .title1 .a1{
	color: #B4353A;
	font-size: 14px;
}
.qzzx .title1 .a1:hover{
	color:#E70014；
}




.dq .title1{
	background-image:url(../images/20151217163511_168 (1).jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.dq .title1 .a3{
	color: #B4353A;
}
.dq .title1 .a1{
	color: #B4353A;
	font-size: 14px;
}
.dq .title1 .a1:hover{
	color:#E70014；
}



.dp .title1{
	background-image:url(../images/20151217163511_168 (1).jpg);
	width: 220px;
	height: 315px;	
   background-repeat: no-repeat;
    padding-top:30px;
	padding-left:12px;
	padding-bottom: 20px;
}
.dp .title1 .a3{
	color: #B4353A;
}
.dp .title1 .a1{
	color: #B4353A;
	font-size: 14px;
}
.dp .title1 .a1:hover{
	color:#E70014；
}



.left{
	float: left;
}

